/*
 COLORS
Background: #1e1e1e 
Shading: #1f2937
Highlight: #3882f6
Text: #f9faf8

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: #f9faf8;
}

.container {
  background-color: #1f2937;
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Bebas Neue', cursive;
}

p {
  font-family: 'Roboto Slab', serif;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  border-bottom: 3px solid #3882f6;
}

.header-logo {
  width: 300px;
  margin-right: auto;
}

.header-link:link,
.header-link:visited {
  text-decoration: none;
  color: #f9faf8;
  background-color: #3882f6;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}

/* Hero */
.hero {
  display: flex;
  padding: 2rem 3rem;
  margin: 0 auto;
}

.hero-text {
  padding: 0;
  margin: 0;
}

.hero-text h1 {
  font-size: 3rem;
}

.hero-text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-right: 3rem;
}
.content {
  background-color: #f9faf8;
  color: black;
}
.footer {
  background-color: #1f2937;
}
