* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #1e1e1e;
  font-family: Verdana;
}

.container {
  width: 1200px;
  margin: 0 auto; 
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  border-left: 5px solid #1e1e1e;
  border-right: 5px solid #1e1e1e;
}

/* HEADER */
/* 
.header * {
  border: 2px solid red;
} */

.header {
  background-color: #1F2937;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 5rem;
  border-bottom: 2px solid #3882F6;
}

.header-logo {
  font-size: 2rem;
  color: #F9FAF8;
  margin: 0;
  padding: 0;
}

.header-links a {
  font-size: 1rem;
  color: #E5E7EB;
  text-decoration-color: #3882F6;
  text-decoration-thickness: 5px;
}

.header-links a:hover {
  text-decoration-color: #E5E7EB;
}

.header-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

/* BANNER */

.banner {
  background-color: #1F2937;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 5rem 5rem;
}

.banner-text h1, p {
  margin-bottom: 1rem;
}

.banner-text h1 {
  font-size: 1.5rem;
  font-weight: extra-bold;
  color: #F9FAF8;
}

.banner-text p {
  font-size: 1rem;
  color: #E5E7EB;
  text-align: justify;
}

.banner button {
  box-sizing: border-box;
  border: 2px solid #3882F6;
  background-color: #3882F6;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.banner button:hover {
  border: 2px solid #fff;
}

button a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}


/* CONTENT */

.content {
  background-color: ghostwhite;
  text-align: center;
  padding: 2rem 0;
}

.content h1 {
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  margin-bottom: 2rem;
}

.content-cards {
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 18px;
  color: #505050;
  margin-bottom: 2rem;
}

.drg-class {
  width: 150px;
}

.drg-class img {
  max-width: 100%;
}

.content-quote {
  background-color: #E5E7EB;
  padding: 5rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.quote {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1F2937;
  text-align: start;
}

.signature {
  color: #1F2937;
  font-size: 18px;
  margin-left: auto;
  max-width: 130px;
  text-align: center;
}

.signature > img {
  max-width: 150px;
}

.quote-name {
  color: #3882F6
}